*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

img{
    display: block;
    max-width: 100%;
}

.bg-header{
    position: relative;
    width: 100%;
    height: 650px;
    background: url('assets/background.png');
    background-size: cover;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#194D41 100%, #194D41 70%);
    opacity: .7;
}

.container{
    /* padding-top: 20.5px;
    padding-left: 128px;
    padding-right: 128px; */

    margin:0 auto;
    width: min(90%, 75rem);
}

.active{
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: underline;
}

svg{
    display: block;
    width: 1.5em; height: 1.5em;
    color: #ff0000;
}

.myheader{
    display: flex;
    justify-content: space-between;
}

.logo{
    z-index: 2;
    width: 100%;
}

.myheader-right{
    visibility: hidden;
    display: flex;
    align-items: center;
    gap: 31px;
    text-transform: uppercase;
    z-index: 1;
}

.mynavbar{
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 41px;
    gap: 31px;
    color: rgba(255, 255, 255, 70%);
}

.sperator-border{
    border: 0.5px solid;
    height: 12px;
    border-collapse: collapse;
    color: rgba(255, 255, 255, 70%);
}

.call-consult{
    display: flex;
    gap: 10px;
    color: #FFFFFF;
    font-weight: 700;
    width: 100%;
}

.text-green{
    color: #5BC8AF;
}

.context{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 68px;
    gap: 138px;
}

.container-context{
    width: 574px;
    z-index: 1;
}

.context-title{
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    font-style: normal;
    text-transform: uppercase;
    color: #FFFFFF;
}

.context-title .text-border{
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.context-label{
    color: rgba(255, 255, 255, 70%);
}

.container-form-contact{
    width: 472px;
    height: 449px;
    background: linear-gradient(180deg, #2A7D6C 0%, rgba(62, 105, 96, 0.62) 100%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    z-index: 1;
}

.form-contact-title{
    padding-top: 51px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

.w-full{
    width: 100%;
}

.grid-form{
    margin-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex; 
    justify-content: center; 
    /* width: 450px; */
}

.form {
    width: 100%;
    height: 50px;
    position: relative;
}

.form input{
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 70%);
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    color: white;
    outline: none;
    padding: 0 15px;
    background-color: rgba(255, 255, 255, 0.1);
}

.form input:hover{
    border-color: white
}

.form input:focus{
    border-color: white;
    background-color:transparent
}

.form label{
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 0.5rem;
    color: white;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}


.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
    top: -0.5rem;
    font-size: 0.8rem;
    left: 0.8rem;
    background-color: #237565;
}



.form select{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 450px;
    border: 1px solid rgba(255, 255, 255, 70%);
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    color: white;
    outline: none;
    padding: 0 15px;
    background-color: rgba(255, 255, 255, 0.1);
}

.form select:hover{
    
    background-color: rgba(255, 255, 255, 0.1);
    border-color: white;
}

.form select:focus{
    border-color: white;
    color: black;
}

.container-btn-submit{
    display: flex; 
    justify-content: center;
}

.btn-submit{
    margin-top: 10px;
    width: 221px;
    height: 56px;
    background: #5BC8AF;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.btn-submit:hover{
    cursor: pointer;
    padding: 10px;
    box-shadow: 0px 5px rgba(234, 234, 234, 0.1);
    
    position: relative;
    transition: top 2s ease 0s;
    top: -5px;
}

.btn-submit:active{
    padding: 10px;
    background: rgba(53, 187, 156, 1);
    box-shadow: none;
    top: 5px;
}

.container-content-1{
    background: #F5F5F5; padding-bottom: 100px; padding-left: 128px; padding-right: 128px;
}

.grid-content{
    display: flex; 
    padding-top: 39px; 
    gap: 36px; 
}

.container-grid-1{
    width: 371px;
    color: rgba(51, 51, 51, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.img-rounded{
    border-radius: 8px;
}

.content-title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 1);
}

.text-border-content1{
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(51, 51, 51, 1);
}

.text-border-content1 span{
    color: rgba(51, 51, 51, 1);
}


.btn-success-rate{
    width: 100%; 
    height: 52px; 
    border: 2px solid rgba(91, 200, 175, 1); 
    background: transparent; 
    color: #5BC8AF;
    font-weight: 700; 
    font-size: 18px; 
    line-height: 28px;
    display: flex;
    align-items: center; 
    gap: 10px;
    justify-content: center;
    border-radius: 4px;
}

.btn-success-rate:hover{
    cursor: pointer;
    padding: 10px;
    box-shadow: 0px 5px rgba(234, 234, 234, 0.1);
    
    position: relative;
    transition: top 2s ease 0s;
    top: -5px;
}

.btn-success-rate:active{
    padding: 10px;
    box-shadow: none;
    top: 5px;
}

.testimoni{
    display: flex; justify-content: center; margin-top: -30px;
}

.card{
    display: flex; gap: 20px; height: 270px;
}

.img-card{
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 10px; border-bottom-left-radius: 10px;
}

.text-card{
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
    background: #194D44; width: 675px;
    border-top-right-radius: 10px; border-bottom-right-radius: 10px; padding: 62px 65px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    font-style: italic;
    color: rgba(255, 255, 255, 1);
}

.card-title{
    font-weight: 700; font-size: 24px; line-height: 34px; display: flex; justify-content: space-between; align-items: center; margin-bottom: 27px; 
    font-style: normal;
}

.container-content-2{
    padding-top: 100px; padding-bottom: 80px;
}

.text1-content-2{
    font-style: italic;
    font-weight: 900;
    font-size: 18px;
    line-height: 28px;
    color: rgba(51, 51, 51, 1);
}
.text1-content-2 span{
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(51, 51, 51, 1);
}

.btn-services{
    width: 100%; 
    height: 96px; 
    border: 2px solid rgba(91, 200, 175, 1); 
    background: transparent; 
    color: #333333;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;

    display: flex;
    align-items: center; 
    gap: 10px;
    justify-content: center;
    border-radius: 4px;
    /* position: relative; */
    /* display: inline-block; */
}

.btn-services:hover{
    cursor: pointer;
    padding: 10px;
    box-shadow: 0px 5px rgba(234, 234, 234, 0.1);
    
    position: relative;
    transition: top 2s ease 0s;
    top: -5px;
    color: rgba(91, 200, 175, 1);
}

.btn-services:active{
    padding: 10px;
    box-shadow: none;
    top: 5px;
}


.btn-services .icon{
    width: 25px; height: 25px; 
    visibility: hidden;
}

.btn-services:hover .icon{
    visibility: visible;
    color: rgba(91, 200, 175, 1);
}

.btn-services .tooltiptextup {
    visibility: hidden;
    top: -55px;
    background-color: rgba(41, 124, 107, 1);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.btn-services .tooltiptextdown {
    visibility: hidden;
    bottom: -55px;
    background-color: rgba(41, 124, 107, 1);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.btn-services:hover .tooltiptextup{
    visibility: visible;
    color: rgba(255, 255, 255, 1);
}
.btn-services:hover .tooltiptextdown{
    visibility: visible;
    color: rgba(255, 255, 255, 1);
}

.container-content-3{
    width: 100%;
    display: flex;
    background: url('assets/background.png');
    background-size: cover;
}

.text-border-content3{
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 1);
}

.text-border-content3 span{
    color: rgba(255, 255, 255, 1);
}

.imgplay{
    z-index: 10;
    transition:200px 2s ease-in-out;
}

.imgplay:hover{
    cursor: pointer;
    width: 150px;
}



@media (min-width: 320px) {}

@media (min-width: 768px) {
    .myheader-right{
        visibility: visible;
    }
}